name: Test Internal

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test-internal:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.22, 12, 14.17, 14, 16.0.0, 16]
      fail-fast: false

    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache Node dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm install

      - name: Run internal tests
        run: npm run test-internal
